.messages {
    background-color: #333;
    padding: 5px;
    position: relative;
    padding-right: 15px;
    margin-bottom: 3px;
    border-radius: 3px;
}

.messages:hover {
    background-color: #555;
    cursor: pointer;
    box-shadow: 1px 1px 1px #333;
}

.messages a {
    color: #ddd;
    border: none;
}

.messages a:hover {
	color: #f0f0f0;
	text-shadow: 2px 2px 2px #ccc;
}

.messages i {
    float: left;
    font-size: 15px;
    color: #ddd;
}

.messages span {
    display: inline-block;
    margin-top: -2px;
    margin-left: 5px; 
}
#board_prefs_edit input[type=text] {
    width: 50px;
}

ul.unread_mail, ul.read_mail {
    border: 1px solid #333;
    border-radius: 3px;
    border-bottom: 3px solid #333;
    padding: 20px;
}
ul.unread_mail li, ul.read_mail li {
    display: block;
    clear: both;
    overflow: auto;
    width: 95%;
    color: #333;
    margin: 5px;
    padding: 10px;
    box-shadow: 2px 2px 2px #555;
}
ul.unread_mail li span, ul.read_mail li span {
    font-size: .9em;
    font-weight: lighter;
    float: right;
}

ul.unread_mail li strong, ul.read_mail li strong {
    float: left;
}

ul.unread_mail li img, ul.read_mail li img {
    max-width: 32px;
    max-height: 24px;
    vertical-align: middle;
}

ul.read_mail li {
    background-color: #ccc;
}

ul.center_options {
    line-height: 0px;
}

ul.center_options li {
	list-style: none;
	display: inline-block;
	padding: 2px;
    min-width: 50px;
    height: 13px;
    border-bottom: 3px solid clear;
}
ul.center_options li:hover {
	border-bottom: 3px solid #888;
}

ul.center_options li a {
	border-bottom: none;
	padding: 2px;
}

ul.center_options li.current {
	border-bottom: 3px solid #333;
}

div.center_action {
	padding: 5px;
    position: relative;
}

.mini_avatar {
	max-height: 75px;
}
.avatar_box {
	float: right;
}
.exclusion_head {
    width: 90%;
    border: 1px solid #333;
    border-bottom: 2px solid #333;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}
.exclusion_head a {
    border: none;
}
.exclusions {
    position: relative;
}
.reply-delete {
    margin-right: -88px;
}
.reply .post_admin a {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: -2px;
}
.tab_current {
    position: relative;
    width: 100%;
}